@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    İstanbul<br />
    https://github.com/tgyuner <br />
    <abbr title="Phone">P: 00</abbr>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tgy.uner@gmail.com">tgy.uner@gmail.com</a><br />
    <strong>Created By:</strong> <a href="mailto:tgy.uner@gmail.com">tgy.uner@gmail.com</a>
</address>